<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <h1>Country</h1>
      <ion-list>
        <ion-item *ngFor="let country of countryList | slice:0:6 ;let i = index;">
          <ion-label (click)="addFav(country)">{{ country.Country}}</ion-label>
        </ion-item>
      </ion-list>

      <h1>Favourite</h1>
      <ion-list *ngIf="favList.length != 0">
        <ion-item *ngFor="let fav of favList; let i = index;">
          <ion-label (click)="removeFav(i)">{{fav.Country}}</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
